<!-- templates/array.html -->
{% extends "base.html" %}

{% block content %}
<h1>Array Operations</h1>
<div class="array-container">
    <div id="array"></div>
</div>

<div class="controls">
    <input type="text" id="value" placeholder="Enter a value">
    <button onclick="push()">Push</button>
    <button onclick="pop()">Pop</button>
    <button onclick="clearArray()">Clear</button>
    <button onclick="BubbleSort()">Bubble sort</button>
</div>

<script>
    let array = [];

    function renderArray() {
        const arrayContainer = document.getElementById('array');
        arrayContainer.innerHTML = '';
        array.forEach((value, index) =>{
            const element = document.createElement('div');
            element.textContent = value;
            arrayContainer.appendChild(element);
        });
    }

    function push() {
        

    }

    function pop() {

    }

    function clearArray() {

    }

    // Initial render
    renderArray();
</script>
{% endblock %}

