{% extends "base.html" %}

{% block title %} Array - Data Structures Visualizer {% endblock %}

{% block content %}
    <h1>Data Structures</h1>
    <p>Choose a data structure to visualize</p>
    <section>
        <h2>Why Learn Data Structures and Algorithms?</h2>
        <p>Data Structures and Algorithms (DSA) are fundamental to computer science and software engineering. They help in organizing data efficiently, making it easier to perform operations like searching, sorting, and modifying data. Understanding DSA is crucial for writing efficient code and solving complex problems.</p>
        <h2>Benefits of Visualizing Data Structures</h2>
        <p>Visualizing data structures can make it easier to understand how they work. It provides a clear picture of how data is stored, accessed, and manipulated. Visualization can also help in debugging and optimizing code by showing the step-by-step process of algorithm execution.</p>
    </section>

{% endblock %}