{% extends "base.html" %}

{% block title %} Array - Data Structures Visualizer {% endblock %}

{% block content %}
    <h1>Data Structures</h1>
    <p>Choose a data structure to visualize</p>
    <ul class="ListDS">
        <li class="liListDS"><a href="/array">Array</a></li>
        <li class="liListDS"><a href="/linkedlist">Linked List</a></li>
        <li class="liListDS"><a href="/Stack">Stack</a></li>
        <li class="liListDS"><a href="/Queue">Queue</a></li>
        <li class="liListDS"><a href="/Tree">Tree</a></li>
        <li class="liListDS"><a href="/Graph">Graph</a></li>
    </ul>

{% endblock %}